<!-- Load MathJax, if necessary. -->
{{ if or .Params.math .IsHome }}
  {{ partial "misc/math.html" . }}
{{ end }}

{{ $styles := resources.Get "css/style.css"}}
{{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
    <!-- {{ $styles := $styles | minify | fingerprint }} -->
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    <!-- <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}"> -->
{{ end }}
{{- partial "head/meta.html" . -}}
{{- partial "head/toggle-darkmode.html" . -}}