<script>
  if (localStorage.getItem("current-theme") === null) {
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      localStorage.setItem("current-theme", "dark");
      document.documentElement.classList.add('dark')
    } else {
      localStorage.setItem("current-theme", "light");
    }
  } else {
    if (localStorage.getItem('current-theme') === 'dark') {
      document.documentElement.classList.add('dark')
    }
  }

  function change_color_mode(){
    if (localStorage.getItem('current-theme') === 'light') {
      document.documentElement.classList.add('dark')
      localStorage.setItem('current-theme', 'dark');
    } else {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('current-theme', 'light');
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    // some constants used later

    document
      .getElementById("header-theme-button")
      .addEventListener("click", change_color_mode);
  });
</script>