<div class="py-10 lg:pt-6 lg:col-start-1 lg:col-span-2 lg:pr-8">
    <h3 class="text-2xl font-medium text-gray-900 dark:text-gray-200">Posts</h3>
    <div class="mt-4">
        <ul role="list" class="pl-4 list-disc text-sm space-y-2">
            {{ range ( where .Pages "Section" "post" ) }}
            {{ range first 5 .Pages }}
            <li class="text-gray-900 dark:text-gray-200">
                <span class="text-gray-600">{{ .Date.Format "06' Jan 2" }} &middot;</span>
                <a href="{{ .RelPermalink }}">{{.Title}}</a>
            </li>
            {{ end }}
            <div><a class="text-gray-600 " href="{{ .RelPermalink }}">All >></a></div>
            {{ end }}
        </ul>
    </div>
</div>

<div class="py-10 lg:pt-6 lg:col-start-1 lg:col-span-2 lg:pr-8">
    <h3 class="text-2xl font-medium text-gray-900 dark:text-gray-200">Photography</h3>
    <div class="mt-4">
        <ul role="list" class="pl-4 list-disc text-sm space-y-2">
            {{ range ( where .Pages "Section" "photography" ) }}
            {{ range first 5 .Pages }}
            <li class="text-gray-900 dark:text-gray-200">
                <span class="text-gray-600">{{ .Date.Format "06' Jan 2" }} &middot;</span>
                <a href="{{ .RelPermalink }}">{{.Title}}</a>
            </li>
            {{ end }}
            <div><a class="text-gray-600" href="{{ .RelPermalink }}">All >></a></div>
            {{ end }}
        </ul>
    </div>
</div>