<div class="py-10 lg:pt-6 lg:col-start-1 lg:col-span-2 lg:pr-8">
  <h3 class="text-2xl not-italic font-medium text-gray-900 dark:text-gray-200">Selected Topics</h3>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    {{ range .Site.Menus.topic }}
    <div id="{{ .Identifier }}"
      class="mt-4 bg-white dark:bg-gray-900 rounded-lg border shadow-xl ring-1 ring-gray-900/5">
      <div class="p-5">
        <a href="{{.URL}}">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100">{{ .Name }}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ .Pre }}</p>
        <a href="{{.URL}}"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-gray-200 dark:text-gray-900 bg-blue-700 dark:bg-orange-500 dark:hover:bg-orange-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-orange-800 visited:text-white dark:visited:text-gray-900">
          Read more
          <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>