{{ if not .Site.BuildDrafts }}
{{ if .Params.enablecomment }}
<div class="pb-10 w-content ">
  <script src="https://giscus.app/client.js"
          data-repo="ecwu/ecwu.github.io"
          data-repo-id="MDEwOlJlcG9zaXRvcnkxNjQzMzE1NjY="
          data-category="Blog Post Discussion"
          data-category-id="DIC_kwDOCcuALs4CObNl"
          data-mapping="pathname"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="botton"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</div>
{{ end }}
{{ else }}
{{ if .Params.enablecomment }}
<div class="bg-gray-300 bg-stripes bg-stripes-white dark:text-gray-400 dark:bg-slate-700 dark:bg-stripes-slate-900 rounded-md w-[55%] my-5 py-3 text-center">
<span class="text-primary">
Comment Section disabled in draft mode
</span>
</div>
{{ end }}
{{ end }}