</div>
<div class="flex overflow-x-scroll pb-10 col-span-full hide-scroll-bar">
    <div class="flex space-x-4 flex-nowrap">
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
        <div class="flex flex-col space-y-4">
            <div
                class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
            </div>
            <span class="px-2">Haha</span>
        </div>
    </div>
</div>

<style>
    .hide-scroll-bar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .hide-scroll-bar::-webkit-scrollbar {
      display: none;
    }
</style>

<div class="py-10 lg:pt-6 lg:col-start-1 lg:col-span-2 lg:pr-8">