{{ if .Params.showinfocard }}
<div class="pb-10 w-content">
  <div class="bg-white dark:bg-gray-900 drop-shadow-lg overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-200">
        <a id="article-info-card"></a>
        Article Card
      </h3>
      <p class="mt-1 text-sm text-gray-500">
        For "<span class="italic">{{ .Title }}</span>"
      </p>
    </div>
    <div class="border-t border-gray-200 dark:border-gray-700">
      <dl>
        <table class="border-collapse table-fixed w-full">
          <tbody class="bg-white dark:bg-gray-800">
            {{ if .Params.author }}
            <tr class="px-4 py-5">
              <th
                class="text-left border-b border-gray-100 dark:border-gray-700 pl-6 dark:text-gray-500 w-1/3 px-4 py-5 text-sm font-medium text-gray-500">
                Author</td>
              <td
                class="border-b font-bold border-gray-100 dark:border-gray-700 p-4 pl-8 text-gray-500 dark:text-gray-400 mt-1 px-4 py-5 text-sm ">
                {{ .Params.author }}</td>
            </tr>
            {{ end }}
            {{ if not .Params.hidedate }}
            <tr class="px-4 py-5">
              <th
                class="text-left border-b border-gray-100 dark:border-gray-700 pl-6 dark:text-gray-500 w-1/3 px-4 py-5 text-sm font-medium text-gray-500">
                Publish & Update Date</td>
              <td
                class="font-bold border-b border-gray-100 dark:border-gray-700 p-4 pl-8 text-gray-500 dark:text-gray-400 mt-1 px-4 py-5 text-sm">
                {{ .Date.Format "2006-01-02" }}{{ if .Lastmod }} - <abbr title="Date of last major modification to this page">{{ .Lastmod.Format "2006-01-02" }}</abbr>{{ end }}</td>
            </tr>
            {{ end }}
            {{ if .Params.tags }}
            <tr class="px-4 py-5">
              <th
                class="text-left border-b border-gray-100 dark:border-gray-700 pl-6 dark:text-gray-500 w-1/3 px-4 py-5 text-sm font-medium text-gray-500">
                Tags</td>
              <td
                class="font-bold border-b border-gray-100 dark:border-gray-700 p-4 pl-8 text-gray-500 dark:text-gray-400 mt-1 px-4 py-5 text-sm">
                {{ range .Params.tags }}
                <a class="rounded inline-block mt-1 mb-1 py-1 px-2 text-xs font-medium text-white bg-gray-900 visited:text-white dark:visited:text-white"
                  href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
              </td>
            </tr>
            {{ end }}
            {{ if .Params.extramaterials }}
            <tr class="px-4 py-5">
              <th
                class="text-left border-b border-gray-100 dark:border-gray-700 pl-6 dark:text-gray-500 w-1/3 px-4 py-5 text-sm font-medium text-gray-500">
                Extra Materials</td>
              <td
                class="font-bold border-b border-gray-100 dark:border-gray-700 p-4 pl-8 text-gray-500 dark:text-gray-400 mt-1 px-4 py-5 text-sm">
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <ul role="list"
                    class="border border-gray-200 dark:border-gray-700 rounded-md divide-y divide-gray-200 dark:divide-gray-700">
                    {{ range .Params.extramaterials }}
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        {{ if (eq .type "file")}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-icon lucide-file flex-shrink-0 h-5 w-5 text-gray-400"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/></svg>
                        {{ end }}
                        {{ if (eq .type "image")}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-icon lucide-image flex-shrink-0 h-5 w-5 text-gray-400"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/><circle cx="9" cy="9" r="2"/><path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/></svg>
                        {{ end }}
                        {{ if (eq .type "link")}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link-icon lucide-link flex-shrink-0 h-5 w-5 text-gray-400"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>

                        {{ end }}
                        {{ if and (not (eq .type "file")) (not (eq .type "image")) (not (eq .type "link"))}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-paperclip-icon lucide-paperclip flex-shrink-0 h-5 w-5 text-gray-400"><path d="m16 6-8.414 8.586a2 2 0 0 0 2.829 2.829l8.414-8.586a4 4 0 1 0-5.657-5.657l-8.379 8.551a6 6 0 1 0 8.485 8.485l8.379-8.551"/></svg>
                        {{ end }}
                        <span class="ml-2 flex-1 w-0 truncate text-gray-900 dark:text-gray-200">
                          {{ .name }}
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <a href="{{ .url }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                          {{ if (eq .type "link")}}Check{{ else }}Download{{end}}
                        </a>
                      </div>
                    </li>
                    {{ end }}
                  </ul>
                </dd>
              </td>
            </tr>
            {{ end }}
            {{ if .Params.camera }}
            <tr class="px-4 py-5">
              <th
                class="text-left border-b border-gray-100 dark:border-gray-700 pl-6 dark:text-gray-500 w-1/3 px-4 py-5 text-sm font-medium text-gray-500">
                Camera</td>
              <td
                class="font-bold border-b border-gray-100 dark:border-gray-700 p-4 pl-8 text-gray-500 dark:text-gray-400 mt-1 px-4 py-5 text-sm">
                {{ range .Params.camera }}
                {{ . }}</a>
                {{ end }}
              </td>
            </tr>
            {{ end }}
            {{ if .Params.lens }}
            <tr class="px-4 py-5">
              <th
                class="text-left border-b border-gray-100 dark:border-gray-700 pl-6 dark:text-gray-500 w-1/3 px-4 py-5 text-sm font-medium text-gray-500">
                Camera</td>
              <td
                class="font-bold border-b border-gray-100 dark:border-gray-700 p-4 pl-8 text-gray-500 dark:text-gray-400 mt-1 px-4 py-5 text-sm">
                {{ range .Params.lens }}
                {{ . }}</a>
                {{ end }}
              </td>
            </tr>
            {{ end }}
            {{ if .Params.medium }}
            <tr class="px-4 py-5">
              <th
                class="text-left border-b border-gray-100 dark:border-gray-700 pl-6 dark:text-gray-500 w-1/3 px-4 py-5 text-sm font-medium text-gray-500">
                Medium</td>
              <td
                class="font-bold border-b border-gray-100 dark:border-gray-700 p-4 pl-8 text-gray-500 dark:text-gray-400 mt-1 px-4 py-5 text-sm">
                {{ range .Params.medium }}
                {{ . }}</a>
                {{ end }}
              </td>
            </tr>
            {{ end }}
            {{ partial "article/copyright.html" . }}
          </tbody>
        </table>
    </div>
  </div>
</div>
{{ end }}