<div class="mb-12">
  <h1 class="text-gray-900 dark:text-gray-200">{{ .Title }}{{ if .Draft }} :: Draft {{end}}</h1>
  {{ if .Params.subtitle }}<h2 class="text-gray-700 dark:text-gray-400">{{ .Params.subtitle }}</h2>{{ end }}

  {{ if or (eq .Type "post") (.Params.meta) }}
  <div class="text-gray-700 dark:text-gray-400">
    <span>
    {{ if .Params.author }}
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
    </svg>
     {{ .Params.author }} <br>
  {{ end }}


  {{ if not .Params.hidedate }}
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
  </svg> {{ .Date.Format "2006-01-02" }}
  {{end }}

  {{ if not .Params.hidereadtime }}
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg> {{ .ReadingTime }} min read
  {{ end }}

  {{ if .Params.categories }}
  <br>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
  </svg>
  {{ range .Params.categories }}
  <a href="{{ " /categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
  {{ end }}
  </span>
</div>
{{ end }}

</div>