{{ if .Params.series }}
<div class="w-content bg-gray-200 dark:bg-gray-800 text-gray-700 dark:text-gray-400 px-5 py-3">
    {{ $.Scratch.Add "cur_page_num" 1 }} 
    {{ $.Scratch.Add "total_page_num" 0 }} 
    {{ range where .Site.RegularPages.ByDate "Params.series" .Params.series }} 
        {{ $.Scratch.Add "total_page_num" 1 }} 
        {{ if gt $.Date.Unix .Date.Unix }} 
            {{ $.Scratch.Add "cur_page_num" 1 }} 
        {{ end }}
    {{ end }}
    
    <p>This post is part {{ $.Scratch.Get "cur_page_num" }} of {{ $.Scratch.Get "total_page_num" }} in the <b>{{ .Params.series }}</b> series.</p>
    
    <details class="mt-3">
        <summary class="cursor-pointer hover:text-gray-900 dark:hover:text-gray-200 font-medium">
            View all articles in this series
        </summary>
        <ol class="mt-2 ml-8 space-y-1">
            {{ range $index, $page := (where .Site.RegularPages.ByDate "Params.series" .Params.series) }}
                <li class="list-decimal ml-4">
                    {{ if eq $page.Permalink $.Permalink }}
                        <span class="font-bold text-gray-900 dark:text-gray-100">{{ $page.Title }}</span> <span class="text-sm">(current)</span>
                    {{ else }}
                        <a href="{{ $page.Permalink }}" class="hover:underline">{{ $page.Title }}</a>
                    {{ end }}
                </li>
            {{ end }}
        </ol>
    </details>
</div>
{{ end }}