{{ $id := .Get "id" }}
{{ $site := .Get "site" }}
{{ $aspect := .Get "aspect" | default "landscape" }}
{{ $aspectClass := "aspect-video" }}
{{ if eq $aspect "portrait" }}
  {{ $aspectClass = "aspect-[9/16]" }}
{{ end }}

{{ if eq $site "youtube" }}
<div class="my-5 w-full {{ $aspectClass }}">
   <iframe class="w-full h-full" src="https://www.youtube.com/embed/{{ $id }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{ else if eq $site "bilibili" }}
<div class="my-5 w-full {{ $aspectClass }}">
   <iframe class="w-full h-full" src="//player.bilibili.com/player.html?bvid={{ $id }}&as_wide=1&high_quality=1&danmaku=0&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
</div>
{{ end }}
