{{ $loc := .Get 0  }}
{{ if .IsNamedParams }}
</article>
<div class="flex space-x-2 mb-4">
  <svg class="flex-none w-5 h-5" viewBox="0 0 20 20" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
    <path d="m9.813 9.25.346-5.138a1.276 1.276 0 0 0-2.54-.235L6.75 11.25 5.147 9.327a1.605 1.605 0 0 0-2.388-.085.018.018 0 0 0-.004.019l1.98 4.87a5 5 0 0 0 4.631 3.119h3.885a4 4 0 0 0 4-4v-1a3 3 0 0 0-3-3H9.813Z" class="stroke-slate-400 dark:stroke-slate-300"></path>
    <path d="M3 5s.35-.47 1.25-.828m9.516-.422c2.078.593 3.484 1.5 3.484 1.5" class="stroke-slate-400 dark:stroke-sky-400"></path>
  </svg>
  <p class="text-slate-700 text-sm font-medium dark:text-slate-200"><kbd class="px-2 py-1 text-sm font-semibold dark:text-gray-200 dark:bg-gray-600 border dark:border-gray-400 rounded-md shadow-outer">Shift</kbd> + mouse scroll in the grid of images to see the rest.</p></div>
<div class="flex overflow-x-scroll pb-10 col-span-full hide-scroll-bar {{with .Get "g-class"}}{{.}}{{end}}">
<div class="flex space-x-4 flex-nowrap gallery">
{{ else if eq $loc "end" }}
<div class="flex flex-col space-y-4">
  <div class="w-24 lg:h-96 h-48"/>
  </div>
</div>
</div>
</div>
<article class="prose dark:prose-invert lg:prose-xl md:prose-lg prose-ul:leading-5 prose-ol:leading-5">
{{ end }}