<div class="mt-10 mb-16 ">
  <h3 class="text-2xl not-italic font-medium text-gray-900 dark:text-gray-200">Selected Topics</h3>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols2 xl:grid-cols-2 gap-3">
    {{ range .Site.Menus.topic }}
    <div id="{{ .Identifier }}"
      class="mt-4 bg-white dark:bg-gray-900 rounded-lg shadow-xl ring-1 ring-gray-900/5">
      <div class="p-5">
        <a href="{{.URL}}">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100">{{ .Name }}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ .Pre }}</p>
        <a href="{{.URL}}"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-gray-200 dark:text-gray-900 bg-blue-700 dark:bg-orange-500 dark:hover:bg-orange-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-orange-800 visited:text-white dark:visited:text-gray-900">
          Read more
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-up-right-icon lucide-corner-up-right ml-2 -mr-1 w-4 h-4"><path d="m15 14 5-5-5-5"/><path d="M4 20v-7a4 4 0 0 1 4-4h12"/></svg>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>